/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  /* Color styles */
--clr-white: rgba(255, 255, 255, 1);
--clr-black: rgba(0, 0, 0, 1);
--clr-gray--25: rgba(252, 252, 253, 1);
--clr-gray--50: rgba(249, 250, 251, 1);
--clr-gray--100: rgba(242, 244, 247, 1);
--clr-gray--200: rgba(234, 236, 240, 1);
--clr-gray--300: rgba(208, 213, 221, 1);
--clr-gray--400: rgba(152, 162, 179, 1);
--clr-gray--500: rgba(102, 112, 133, 1);
--clr-gray--600: rgba(71, 84, 103, 1);
--clr-gray--700: rgba(52, 64, 84, 1);
--clr-gray--800: rgba(29, 41, 57, 1);
--clr-gray--900: rgba(16, 24, 40, 1);
--clr-primary--25: rgba(252, 250, 255, 1);
--clr-primary--50: rgba(249, 245, 255, 1);
--clr-primary--100: rgba(244, 235, 255, 1);
--clr-primary--200: rgba(233, 215, 254, 1);
--clr-primary--300: rgba(214, 187, 251, 1);
--clr-primary--400: rgba(182, 146, 246, 1);
--clr-primary--500: rgba(158, 119, 237, 1);
--clr-primary--600: rgba(127, 86, 217, 1);
--clr-primary--700: rgba(105, 65, 198, 1);
--clr-primary--800: rgba(83, 56, 158, 1);
--clr-primary--900: rgba(66, 48, 125, 1);
--clr-error--25: rgba(255, 251, 250, 1);
--clr-error--50: rgba(254, 243, 242, 1);
--clr-error--100: rgba(254, 228, 226, 1);
--clr-error--200: rgba(254, 205, 202, 1);
--clr-error--300: rgba(253, 162, 155, 1);
--clr-error--400: rgba(249, 112, 102, 1);
--clr-error--500: rgba(240, 68, 56, 1);
--clr-error--600: rgba(217, 45, 32, 1);
--clr-error--700: rgba(180, 35, 24, 1);
--clr-error--800: rgba(145, 32, 24, 1);
--clr-error--900: rgba(122, 39, 26, 1);
--clr-warning--25: rgba(255, 252, 245, 1);
--clr-warning--50: rgba(255, 250, 235, 1);
--clr-warning--100: rgba(254, 240, 199, 1);
--clr-warning--200: rgba(254, 223, 137, 1);
--clr-warning--300: rgba(254, 200, 75, 1);
--clr-warning--400: rgba(253, 176, 34, 1);
--clr-warning--500: rgba(247, 144, 9, 1);
--clr-warning--600: rgba(220, 104, 3, 1);
--clr-warning--700: rgba(181, 71, 8, 1);
--clr-warning--800: rgba(147, 55, 13, 1);
--clr-warning--900: rgba(122, 46, 14, 1);
--clr-success--25: rgba(246, 254, 249, 1);
--clr-success--50: rgba(236, 253, 243, 1);
--clr-success--100: rgba(209, 250, 223, 1);
--clr-success--200: rgba(166, 244, 197, 1);
--clr-success--300: rgba(108, 233, 166, 1);
--clr-success--400: rgba(50, 213, 131, 1);
--clr-success--500: rgba(18, 183, 106, 1);
--clr-success--600: rgba(3, 152, 85, 1);
--clr-success--700: rgba(2, 122, 72, 1);
--clr-success--800: rgba(5, 96, 58, 1);
--clr-success--900: rgba(5, 79, 49, 1);
--clr-blue-gray--25: rgba(252, 252, 253, 1);
--clr-blue-gray--50: rgba(248, 249, 252, 1);
--clr-blue-gray--100: rgba(234, 236, 245, 1);
--clr-blue-gray--200: rgba(213, 217, 235, 1);
--clr-blue-gray--300: rgba(175, 181, 217, 1);
--clr-blue-gray--400: rgba(113, 123, 188, 1);
--clr-blue-gray--500: rgba(78, 91, 166, 1);
--clr-blue-gray--600: rgba(62, 71, 132, 1);
--clr-blue-gray--700: rgba(54, 63, 114, 1);
--clr-blue-gray--800: rgba(41, 48, 86, 1);
--clr-blue-gray--900: rgba(16, 19, 35, 1);
--clr-blue-light--25: rgba(245, 251, 255, 1);
--clr-blue-light--50: rgba(240, 249, 255, 1);
--clr-blue-light--100: rgba(224, 242, 254, 1);
--clr-blue-light--200: rgba(185, 230, 254, 1);
--clr-blue-light--300: rgba(124, 212, 253, 1);
--clr-blue-light--400: rgba(54, 191, 250, 1);
--clr-blue-light--500: rgba(11, 165, 236, 1);
--clr-blue-light--600: rgba(0, 134, 201, 1);
--clr-blue-light--700: rgba(2, 106, 162, 1);
--clr-blue-light--800: rgba(6, 89, 134, 1);
--clr-blue-light--900: rgba(11, 74, 111, 1);
--clr-blue--25: rgba(245, 250, 255, 1);
--clr-blue--50: rgba(239, 248, 255, 1);
--clr-blue--100: rgba(209, 233, 255, 1);
--clr-blue--200: rgba(178, 221, 255, 1);
--clr-blue--300: rgba(132, 202, 255, 1);
--clr-blue--400: rgba(83, 177, 253, 1);
--clr-blue--500: rgba(46, 144, 250, 1);
--clr-blue--600: rgba(21, 112, 239, 1);
--clr-blue--700: rgba(23, 92, 211, 1);
--clr-blue--800: rgba(24, 73, 169, 1);
--clr-blue--900: rgba(25, 65, 133, 1);
--clr-indigo--25: rgba(245, 248, 255, 1);
--clr-indigo--50: rgba(238, 244, 255, 1);
--clr-indigo--100: rgba(224, 234, 255, 1);
--clr-indigo--200: rgba(199, 215, 254, 1);
--clr-indigo--300: rgba(164, 188, 253, 1);
--clr-indigo--400: rgba(128, 152, 249, 1);
--clr-indigo--500: rgba(97, 114, 243, 1);
--clr-indigo--600: rgba(68, 76, 231, 1);
--clr-indigo--700: rgba(53, 56, 205, 1);
--clr-indigo--800: rgba(45, 49, 166, 1);
--clr-indigo--900: rgba(45, 50, 130, 1);
--clr-purple--25: rgba(250, 250, 255, 1);
--clr-purple--50: rgba(244, 243, 255, 1);
--clr-purple--100: rgba(235, 233, 254, 1);
--clr-purple--200: rgba(217, 214, 254, 1);
--clr-purple--300: rgba(189, 180, 254, 1);
--clr-purple--400: rgba(155, 138, 251, 1);
--clr-purple--500: rgba(122, 90, 248, 1);
--clr-purple--600: rgba(105, 56, 239, 1);
--clr-purple--700: rgba(89, 37, 220, 1);
--clr-purple--800: rgba(74, 31, 184, 1);
--clr-purple--900: rgba(62, 28, 150, 1);
--clr-pink--25: rgba(254, 246, 251, 1);
--clr-pink--50: rgba(253, 242, 250, 1);
--clr-pink--100: rgba(252, 231, 246, 1);
--clr-pink--200: rgba(252, 206, 238, 1);
--clr-pink--300: rgba(250, 167, 224, 1);
--clr-pink--400: rgba(246, 112, 199, 1);
--clr-pink--500: rgba(238, 70, 188, 1);
--clr-pink--600: rgba(221, 37, 144, 1);
--clr-pink--700: rgba(193, 21, 116, 1);
--clr-pink--800: rgba(158, 22, 95, 1);
--clr-pink--900: rgba(133, 22, 81, 1);
--clr-rosé--25: rgba(255, 245, 246, 1);
--clr-rosé--50: rgba(255, 241, 243, 1);
--clr-rosé--100: rgba(255, 228, 232, 1);
--clr-rosé--200: rgba(254, 205, 214, 1);
--clr-rosé--300: rgba(254, 163, 180, 1);
--clr-rosé--400: rgba(253, 111, 142, 1);
--clr-rosé--500: rgba(246, 61, 104, 1);
--clr-rosé--600: rgba(227, 27, 84, 1);
--clr-rosé--700: rgba(192, 16, 72, 1);
--clr-rosé--800: rgba(161, 16, 67, 1);
--clr-rosé--900: rgba(137, 18, 62, 1);
--clr-orange--25: rgba(255, 250, 245, 1);
--clr-orange--50: rgba(255, 246, 237, 1);
--clr-orange--100: rgba(255, 234, 213, 1);
--clr-orange--200: rgba(253, 220, 171, 1);
--clr-orange--300: rgba(254, 178, 115, 1);
--clr-orange--400: rgba(253, 133, 58, 1);
--clr-orange--500: rgba(251, 101, 20, 1);
--clr-orange--600: rgba(236, 74, 10, 1);
--clr-orange--700: rgba(196, 50, 10, 1);
--clr-orange--800: rgba(156, 42, 16, 1);
--clr-orange--900: rgba(126, 36, 16, 1);
--avatar-user-square---olivia--rhye-color-background: rgba(199, 185, 218, 1);
--avatar-user-square---phoenix--baker-color-background: rgba(170, 156, 117, 1);
--avatar-user-square---lana--steiner-color-background: rgba(212, 181, 173, 1);
--avatar-user-square---demi--wilkinson-color-background: rgba(190, 168, 135, 1);
--avatar-user-square---candice--wu-color-background: rgba(162, 168, 205, 1);
--avatar-user-square---natali--craig-color-background: rgba(209, 186, 169, 1);
--avatar-user-square---drew--cano-color-background: rgba(209, 223, 195, 1);
--avatar-user-square---orlando--diggs-color-background: rgba(207, 195, 167, 1);
--avatar-user-square---andi--lane-color-background: rgba(210, 199, 172, 1);
--avatar-user-square---kate--morrison-color-background: rgba(219, 192, 221, 1);
--avatar-user-square---koray--okumus-color-background: rgba(212, 178, 175, 1);
--avatar-user-square---ava--wright-color-background: rgba(201, 186, 156, 1);
--avatar-user-square---eve--leroy-color-background: rgba(218, 185, 187, 1);
--avatar-user-square---zahir--mays-color-background: rgba(195, 199, 223, 1);
--avatar-user-square---joshua--wilson-color-background: rgba(210, 219, 189, 1);
--avatar-user-square---rene--wells-color-background: rgba(223, 204, 159, 1);
--avatar-user-square---lori--bryson-color-background: rgba(217, 185, 187, 1);
--avatar-user-square---anaiah--whitten-color-background: rgba(204, 192, 221, 1);
--avatar-user-square---noah--pierre-color-background: rgba(212, 175, 189, 1);
--avatar-user-square---katherine--moss-color-background: rgba(162, 168, 205, 1);
--avatar-user-square---mollie--hall-color-background: rgba(203, 159, 162, 1);
--avatar-user-square---eduard--franze-color-background: rgba(219, 208, 189, 1);
--avatar-user-square---alec--whitten-color-background: rgba(171, 182, 119, 1);
--avatar-user-square---eva--bond-color-background: rgba(219, 192, 221, 1);
--avatar-user-square---sophia--perez-color-background: rgba(182, 205, 216, 1);
--avatar-user-square---lyle--kauffman-color-background: rgba(210, 177, 172, 1);
--avatar-user-square---kelly--williams-color-background: rgba(216, 199, 182, 1);
--avatar-user-square---lucy--bond-color-background: rgba(219, 192, 221, 1);
--avatar-user-square---alisa--hester-color-background: rgba(212, 175, 189, 1);
--avatar-user-square---rosalee--melvin-color-background: rgba(219, 202, 189, 1);
--avatar-user-square---loki--bright-color-background: rgba(185, 207, 208, 1);
--avatar-user-square---aliah--lane-color-background: rgba(215, 192, 221, 1);
--avatar-user-square---anita--cruz-color-background: rgba(194, 199, 184, 1);
--avatar-user-square---kari--rasmussen-color-background: rgba(169, 181, 141, 1);
--avatar-user-square---nala--goins-color-background: rgba(192, 198, 221, 1);

/* Text-size styles */
/* base size: display-2xl---regular (72px) */
--display-2xl---regular: 1rem;
--display-2xl---medium: 1rem;
--display-2xl---semibold: 1rem;
--display-2xl---bold: 1rem;
--display-xl---regular: 0.83rem;
--display-xl---medium: 0.83rem;
--display-xl---semibold: 0.83rem;
--display-xl---bold: 0.83rem;
--display-lg---regular: 0.67rem;
--display-lg---medium: 0.67rem;
--display-lg---semibold: 0.67rem;
--display-lg---bold: 0.67rem;
--display-md---regular: 0.5rem;
--display-md---medium: 0.5rem;
--display-md---semibold: 0.5rem;
--display-md---bold: 0.5rem;
--display-sm---regular: 0.42rem;
--display-sm---medium: 0.42rem;
--display-sm---semibold: 0.42rem;
--display-sm---bold: 0.42rem;
--display-sm-----medium-italic: 0.42rem;
--display-xs---regular: 0.33rem;
--display-xs---medium: 0.33rem;
--display-xs---semibold: 0.33rem;
--display-xs---bold: 0.33rem;
--display-xs---medium-italic: 0.33rem;
--display-xs-----semibold-underlined: 0.33rem;
--text-xl---regular: 0.28rem;
--text-xl---medium: 0.28rem;
--text-xl---semibold: 0.28rem;
--text-xl---bold: 0.28rem;
--text-xl---regular-italic: 0.28rem;
--text-xl---medium-italic: 0.28rem;
--text-xl---semibold-italic: 0.28rem;
--text-xl---bold-italic: 0.28rem;
--text-xl-----regular-underlined: 0.28rem;
--text-xl-----medium-underlined: 0.28rem;
--text-lg---regular: 0.25rem;
--text-lg---medium: 0.25rem;
--text-lg---semibold: 0.25rem;
--text-lg---bold: 0.25rem;
--text-lg---regular-italic: 0.25rem;
--text-lg---medium-italic: 0.25rem;
--text-lg---semibold-italic: 0.25rem;
--text-lg---bold-italic: 0.25rem;
--text-lg---regular-underlined: 0.25rem;
--text-lg-----medium-underlined: 0.25rem;
--text-md---regular: 0.22rem;
--text-md---medium: 0.22rem;
--text-md---semibold: 0.22rem;
--text-md---bold: 0.22rem;
--text-md---regular-italic: 0.22rem;
--text-md---medium-italic: 0.22rem;
--text-md---semibold-italic: 0.22rem;
--text-md---bold-italic: 0.22rem;
--text-md-----regular-underlined: 0.22rem;
--text-sm---regular: 0.19rem;
--text-sm---medium: 0.19rem;
--text-sm---semibold: 0.19rem;
--text-sm-----bold: 0.19rem;
--text-xs---regular: 0.17rem;
--text-xs---medium: 0.17rem;
--text-xs---semibold: 0.17rem;
--text-xs-----bold: 0.17rem;
--text-font-family: 'Inter';

/* Effect styles */
--focus-ring--4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1);
--focus-ring--4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1);
--focus-ring--4px-error-100:  0px 0px 0px rgba(254, 228, 226, 1);
--focus-ring--4px-gray-600:  0px 0px 0px rgba(71, 84, 103, 1);
--focus-ring----4px-primary-600:  0px 0px 0px rgba(127, 86, 217, 1);
--shadow--xs:  0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--xs-focused-4px-error-100:  0px 0px 0px rgba(254, 228, 226, 1), 0px 1px 2px rgba(16, 24, 40, 0.05);
--shadow--sm:  0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--sm-focused-4px-primary-100:  0px 0px 0px rgba(244, 235, 255, 1), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--sm-focused-4px-gray-100:  0px 0px 0px rgba(242, 244, 247, 1), 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.1);
--shadow--md:  0px 2px 4px rgba(16, 24, 40, 0.06), 0px 4px 8px rgba(16, 24, 40, 0.1);
--shadow--lg:  0px 4px 6px rgba(16, 24, 40, 0.03), 0px 12px 16px rgba(16, 24, 40, 0.08);
--shadow--xl:  0px 8px 8px rgba(16, 24, 40, 0.03), 0px 20px 24px rgba(16, 24, 40, 0.08);
--shadow--2xl:  0px 24px 48px rgba(16, 24, 40, 0.18);
--shadow--3xl:  0px 32px 64px rgba(16, 24, 40, 0.14);
--shadow---portfolio-mockup---main-centre-md:  0px 75px 150px rgba(52, 64, 84, 0.14);
--shadow---portfolio-mockup---main-centre-lg:  0px 100px 200px rgba(52, 64, 84, 0.18);
--shadow---portfolio-mockup---overlay-right-lg:  -100px 100px 150px rgba(52, 64, 84, 0.12);
--shadow---portfolio-mockup---overlay-left-lg:  100px 100px 150px rgba(52, 64, 84, 0.12);
--shadow---portfolio-mockup---grid-shadow-md:  32px 32px 64px rgba(52, 64, 84, 0.08);
--background-blur--sm: ;
--background-blur--md: ;
--background-blur----lg: ;
--background-blur----xl: ;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
